{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Dashboard</h1>


{% if records %}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Code</th>
            <th scope="col">Instructor</th>
            <th scope="col">Tag</th>
            <th scope="col">Source</th>
            <th scope="col">View</th>
            <th scope="col">Cover Image</th>
            <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
        {% for i in records %}
            <tr>
            <td>{{ i.course_name }}</td>
            <td>{{ i.course_code }}</td>
            <td>{{ i.instructor_name }}</td>
            <td>{{ i.course_tags }}</td>
            <td>{{ i.original_course_link }}</td>
            <td>{{ i.download_link }}</td>
            <td>{{ i.course_image }}</td>
            <td>{{ i.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% else %}
<h3>Login</h3>
<form method="POST" action="{% url 'homepage' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
        <input type="text" class="form-control" name="Username", placeholder="Username" required>
        </div>
        <div class="mb-3">
        <input type="password" class="form-control" name="Password", placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</form>

{% endif %}  
  
{% endblock content %}
