{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h4>Dashboard</h4>

{% if records %}

<div class="table-responsive" style="font-size: 14px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Course Name</th>
                <th class="col-md-2">Instructor</th>
                <th class="col-md-1">Tag</th>
                <th class="col-md-1">Source</th>
                <th class="col-md-1">View</th>
                <th class="col-md-2">Cover Image</th>
                <th class="col-md-2">Created Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in records %}
            <tr>
                <td class="col-md-1">{{ i.id }}</td>
                <td class="col-md-2">{{ i.course_name }}</td>
                <td class="col-md-2">{{ i.instructor_name }}</td>
                {% comment %} <td class="col-md-1">{{ i.course_tags }}</td> {% endcomment %}
                <td class="col-md-1">
                    {% for tag in i.course_tags.all %}
                        {{ tag.name }}
                    {% empty %}
                        No tags
                    {% endfor %}
                </td>
                <td class="col-md-1">
                    <a href="{{ i.original_course_link }}" target="_blank">
                        <button class="btn btn-light">src</button>
                    </a>
                </td>
                <td class="col-md-1">
                    <a href="{{ i.download_link }}" target="_blank">
                        <button class="btn btn-link">link</button>
                    </a>
                </td>
                <td class="col-md-2"><img src="/{{ i.course_image }}" width="200px"/></td>

                <td class="col-md-2">{{ i.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{% else %}
<h3>Login</h3>
<form method="POST" action="{% url 'homepage' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
        <input type="text" class="form-control" name="Username", placeholder="Username" required>
        </div>
        <div class="mb-3">
        <input type="password" class="form-control" name="Password", placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</form>

{% endif %}  
  
{% endblock content %}
