{% extends 'base.html' %}

{% block content %}
<h3>Login</h3>
<form method="POST" action="{% url 'homepage' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
        <input type="text" class="form-control" name="email", placeholder="Email" required>
        </div>
        <div class="mb-3">
        <input type="text" class="form-control" name="password", placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</form>
  
  
{% endblock content %}
